#main{
  width: 100%;
  height: 100%;
  float: left;
}
#logo{
  width: 100%;
  height: auto;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  position: relative;
  top:40%;
  transform: translateY(-50%);
  float: left;
}

#logo > p{
  font-size: 13px;
  color: #999;
}

.buttonBox{
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  top:60%;
  transform: translateY(-50%);
  float: left;

  box-sizing: border-box;
}
.buttonBox > button{
  width: 230px;
  border-radius: 30px;
  height: 60px;
  margin: 10px auto;
  clear: both;
  float: left;
  position: relative;
  left:50%;
  transform: translateX(-50%);
  font-size: 18px;
  box-shadow: 2px 2px 5px #ccc;
}
.buttonBox > button:first-child{
  background: linear-gradient(to right,#2faafd,#2ad1fd);
  color: #fff;
}
.buttonBox > button:last-child{
  background-color: #fff;
  color: #2faafd;
  border: #2faafd solid 1px;
}
