<div id="boatList">
  <div class="background"></div>
  <div id="wrapperBox">
  <div id="wrapper">
    <!-- panels -->
    <div>
      <div class="img"></div>
      <b onclick="location.href = '/boat/view'">봉봉이 보트</b>
      <p>홍길동</p>
      <button onclick="location.href = '/boat/rental'">대여하기</button>
    </div>
    <div>
      <div class="img"></div>
      <b onclick="location.href = '/boat/view'">봉봉이 보트</b>
      <p>홍길동</p>
      <button onclick="location.href = '/boat/rental'">대여하기</button>
    </div>
    <div>
      <div class="img"></div>
      <b onclick="location.href = '/boat/view'">봉봉이 보트</b>
      <p>홍길동</p>
      <button onclick="location.href = '/boat/rental'">대여하기</button>
    </div>
  </div>
  </div>
  <!--<div class="cardSlideBox">-->
    <!--<div class="card">-->
      <!--<div class="img"></div>-->
      <!--<b>봉봉이 보트</b>-->
      <!--<p>홍길동</p>-->
      <!--<button>대여하기</button>-->
    <!--</div>-->
  <!--</div>-->
</div>
